layout: index
description: 区块链运维和开发的数据服务, 金融, 游戏, 电商, 教育和营销产品的平台数据服务
subtitle: 区块链平台数据服务专家
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bitcoin
      h3.intro-feature-title 金融
      p.intro-feature-desc <a href="/">支付</a>、理财、保险
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-gamepad
      h3.intro-feature-title 游戏
      p.intro-feature-desc <a href="/">猜数字</a>、猜硬币
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cc
      h3.intro-feature-title 电商
      p.intro-feature-desc 广告、商城、旅游、社交
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-mortar-board
      h3.intro-feature-title 教育
      p.intro-feature-desc 学编程、学英语、中小学课程、新闻
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-globe
      h3.intro-feature-title 营销
      p.intro-feature-desc 团队、财务
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 医疗
      p.intro-feature-desc 订制专属你的应用主题和数据
